<!-- <script src="//code.jquery.com/jquery-1.10.2.min.js"></script> -->
<section class="title">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1>Latest Hollywwod Movies</h1>
			</div>
			
		</div>
	</div>
</section>
<aside class="span12">
	<div class="widget search span4 pull-right" style="margin: 10px -51px 0 0;">

		<%= form_tag(movies_hollywood_movies_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Search Movies", class: "input-block-level search_box" %>
			<%= submit_tag "Search",:class => 'btn btn-primary search_btn' %>
		<% end %>
		<!-- <form>
			<input type="text" class="input-block-level" placeholder="Search">
		</form> -->
	</div>
</aside>
<section id="portfolio" class="container main">
	<% if @latest_hollywood.present? %>    
		<ul class="gallery col-4">
			<% @latest_hollywood.each_with_index do |movie,index| %>

				<script type="text/javascript">
					$(function(){
						$.getScript( "https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js", function( data, textStatus, jqxhr ) {
								$('.movie_rating-<%= movie.id %>').raty({ score: <%= movie.rating %>,
						  	readOnly: true,
					    	path: '/assets'
							});
						})
					})
				</script>

				<li>
					<div class="preview">
						
						<% if movie.image.present? %>
						
							<%= link_to( image_tag(movie.image.thumb.url), movie_with_title_path(movie)) %>
						<% else %>
							<%= link_to( image_tag("/assets/not_available.jpg"), movie_with_title_path(movie)) %>
						<% end %>


					</div>

					<div class="desc">
						<h5><%= link_to movie.title, movie_with_title_path(movie), :class => "mov_link" %></h5>
						<small class="movie_rating-<%= movie.id %>">
							<!-- <h2 class="movie_rating-<%= movie.id %>" > -->
							<p class="pull-right indent"><% if movie.release_date %>
								<i class="icon-calendar"></i> <%= movie.release_date.strftime("%b %dth, %Y") %>
							<% end %></p>
						</small>
					</div>                
				</li>
				<!--/Item 1--> 

			<% end %>

		</ul>
	<% else %>
		<div class="span8">
		<b>There are no movies containing the term(s) <%= params[:search]%></b>
		</div>
	<% end %>
	
</section>
<%= will_paginate @latest_hollywood %>