<%= stylesheet_link_tag 'social-likes_flat.css' %>
<%= javascript_include_tag 'social-likes.min.js' %>
<section class="title">
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<h1><%= @movie.title %></h1>
			</div>
			
		</div>
	</div>
</section>
	<!-- / .title --> 

<section id="about-us" class="container">
<div class="row-fluid">
	<div class="span8">
		<div class="blog">
			<div class="widget widget-popular">
				<div class="widget-blog-items">
					<% @detail_top_banner.each do |banner| %>

						<% if banner.ad_type == 'Text' %>
								<div class="widget-blog-item media">					
									<div class="media-body">			
										<!-- <div class=""> -->
											<div class="<%= banner.ad_type%>-<%= banner.id %>" style="width: 100%; background-color: pink; "><%= banner.text.html_safe %>
											</div>
										<!-- </div> -->
									</div>
								</div>
							<% end %>

							<% if banner.ad_type == 'Banner' %>
								<div class="widget-blog-item media">					
									<div class="media-body">			
										<!-- <div class=""> -->
											<div class="<%= banner.ad_type%>-<%= banner.id %>" style="width: 100%; text-align:left;">
												<% if banner.link.present? %>
													<%= link_to( image_tag(banner.banner), banner.link) %>
												<% else %>
													<%= image_tag(banner.banner) %>
												<% end %>
											</div>
										<!-- </div> -->
									</div>
								</div>
							<% end %>

							<% if banner.ad_type == 'Google Ad' %>
								<div class="widget-blog-item media">					
									<div class="media-body">
										<div class="<%= banner.ad_type%>-<%= banner.id %>" style="width: 100%;">
											<%= raw banner.google_add_js %>
										</div>
									</div>
								</div>
							<% end %>

					<% end %>
				</div>                        
			</div>
			<div class="blog-item well des">

						<!-- <h2><%#= link_to @movie.title, movie_with_title_path(@movie) %></h2> -->
						
				<!-- <a href="#"><h2><%#= @blog.title %></h2></a> -->
			  <p>
				<% if @movie.image.present? %>
				  <%= image_tag(@movie.image.indexThumb.url, :class => 'bigimg') %>
				<% else %>
					<%= image_tag("/assets/not_available.jpg") %>
				<% end %>        
			  </p>

			  <% if @movie.release_date? %>
			  	<p><label>Release Date : </label><%= @movie.release_date %></p>
			  <% end %>

			  <% if @movie.genres.present? %>
			  	<p><label>Genre : </label>
			  	<% @movie.genres.each do |genre| %>
						<%= link_to genre.title, genre_with_title_path(genre) %> 
					<% end %></p>
			  <% end %>

			  <% if @movie.director? %>
			  	<p><label>Directed By : </label> <%= @movie.director %></p>
			  <% end %>

			  <% if @movie.producer? %>
			  	<p><label>Produced By : </label> <%= @movie.producer %></p>
			  <% end %>

			  <% if @movie.music_director? %>
			  	<p><label>Music By : </label> <%= @movie.music_director %></p>
			  <% end %>

			  <% if @movie.star_cast? %>
			  	<p><label>Stars : </label> <%= @movie.star_cast %></p>
			  <% end %>

			  <% if @movie.movie_type %>
			  	<p><label>Movie Type : </label> <%= @movie.movie_type.title %></p>
			  <% end %>

			  <% if @movie.movie_length? %>
			  	<p><label>Movie Length : </label> <%= @movie.movie_length %></p>
			  <% end %>

			  <% if @movie.description? %>
			  	<p><label>StoryPlot :</label> <%= @movie.description.html_safe %></p>
			  <% end %>

			  <% if @movie.movie_reviews? %>
			  	<p><label>Reviews :</label> <%= @movie.movie_reviews.html_safe %></p>
			  <% end %>

			  <% if @movie.youtube_url? %>
			  	<!-- <p><h4><b>Youtube URL : </b> --> 
			  	<div class="embed-container">  
					  <%= embed(@movie.youtube_url) %>
					</div> 
					
			  	<!-- </h4></p> -->
			  <% end %>
			  

			  <% current_url = request.fullpath %>

			  <div class="social-likes" data-url="http://viva-movie-review.herokuapp.com<%= request.fullpath %>" data-title="Vivacity">
					<div class="facebook" title="Share link on Facebook">Facebook</div>
					<div class="twitter" data-via="Vivacity" data-related="Vivacity" title="Share link on Twitter">Twitter</div>
					<div class="plusone" title="Share link on Google+">Google+</div>
					<div class="pinterest" title="Share image on Pinterest" data-media="">Pinterest</div>
				</div>

			  <!-- <div class="social-likes">
	<div class="facebook" title="Share link on Facebook">Facebook</div>
	<div class="twitter" title="Share link on Twitter">Twitter</div>
	<div class="plusone" title="Share link on Google+">Google+</div>
	<div class="pinterest" title="Share image on Pinterest" data-media="">Pinterest</div>
</div> -->
			  <!-- <p><label>Share us on</label> <%#= social_share_button_tag(@movie.title, :url => "http://192.168.1.21:3000/movie/#{@movie.slug}", :popup => "true") %></p> -->

			  <%#= social_share_button_tag(@movie.title, :url => "https://viva-movie-review.herokuapp.com/movie/#{@movie.slug}", :image => "#{@movie.image}", via: "MovieReview") %>

			  <% if @movie.release_date.present? %>

					<% unless @movie.release_date.future? %>
					<br>

						<div class="av_cr_rating"><h3 class="avr_cr">Average Critics Rating:</h3></div>
						<br/>

						<% if @movie.critics_ratings.count > 0 %>
							<!-- <h4>Critics Ratings:</h4> -->

							<% @movie.critics_ratings.each do |cr| %>
								<b> <%= cr.title%>:</b>
								<div id="starrating">
									<div class="c_rating-<%= cr.id %>">
										
									</div>
									<% if cr.reviews %>
										<p><%= cr.reviews.html_safe %></p>
									<% end %>
								</div>
								<script type="text/javascript">
									$(function(){
										$.getScript( "https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js", function( data, textStatus, jqxhr ) {
												$('.c_rating-<%= cr.id %>').raty({ score: <%= cr.rating %>,
										  	readOnly: true,
									    	path: '/assets'
											});
										})
									})
								</script>	
								<br/>
							<% end %>

						<% end %>

					<% end %>

				<% end %>
				

				<% if @movie.release_date.present? %>

					<% unless @movie.release_date.future? %>

						<% @total_reviews = 0 %>
								<%# @total_count = 0 %>
						

						<% @average_user_reviews = 0.0 %>


						<%# unless @movie.release_date.future? %>

					  <div id="starrating">
							<div id="stars">
								<h3 class="avr_cr">Average User Ratings:</h3>
							</div>
						</div>

						<%# end %>

						<% @app_rev = @movie.reviews.where(:approved => true) %>

						<% @total_count = @app_rev.count %>

				  	<p class="pull-right"><i class="icon-comment pull"></i> 	<%= @app_rev.count %> <% if @app_rev.count < 2 %> Review <% else %> Reviews <% end %>
				  	</p>

				  <% end %>

			  <% end %>

			<p>&nbsp;</p>

			<% if @movie.release_date.present? %>

				<% unless @movie.release_date.future? %>
				
					<div id="comments" class="comments">

						<h4> <%= @app_rev.count %> Review(s)</h4>

						

						<% if @app_rev.count == 0 %>
							<div class="comments-list">
								<div class="comment media">
									<div class="media-body">
										<strong>No Reviews yet.</strong>
									</div>
								</div>
							</div>
						<% else %>


							<div class="comments-list">
								<%# @total_reviews = 0 %>
								<%# @total_count = 0 %>
								<%# @total_count = @movie.reviews.count %>
								<% @movie.reviews.each do |review| %>
									<% if review.approved %>
										<% @total_reviews = @total_reviews + review.rating %>
										<div class="comment media">
											<div class="pull-left">
												<!-- <img class="avatar" src="images/sample/cAvatar1.jpg" alt="" />   -->
											</div>

											<div class="media-body">
												<strong>Posted by <% if review.user.username.present? %> <%= review.user.username %><% else %> user<%= review.user.id %><% end %></strong>   on <small> <%= review.created_at.strftime("%b %dth, %Y") %> </small>
												<div id="starrating">
													<div class="rating-<%= review.id %>">

													</div>
												</div>
												<% if review.comment.present? %>
													<%= review.comment.html_safe %>
												<% end %>					
													
											 </div>
										</div>
										<script type="text/javascript">
											$(function(){
												$.getScript( "https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js", function( data, textStatus, jqxhr ) {
														$('.rating-<%= review.id %>').raty({ score: <%= review.rating %>,
												  	readOnly: true,
											    	path: '/assets'
													});
												})
											})
										</script>
									<% end %>


								<% end %>	

								<%= will_paginate @movie_reviews %>

								<% @average_user_reviews = @total_reviews/@total_count %>
								
							</div>



							

						<% end %>

						<br/>

						<% if user_signed_in? %>
							<% @user_movie_check = Review.find_by_user_id_and_movie_id(current_user.id, @movie.id) %>
								
								<% if @user_movie_check.present? %>
									<p>You have already rated this movie.</p>
								<% else %>
									<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" id="rev_write" data-target="#myModal" >Write a review</button>
							
							<% end %>

							<div id="myModal" class="modal fade review_box" role="dialog">
  							<div class="modal-dialog">

    						<!-- Modal content-->
						    	<div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal">&times;</button>
							        <h4 class="modal-title">Write a review</h4>
							      </div>
							      <div class="modal-body">
	        						<p>
		        						<% @review = Review.new %>

								        <%= form_for([@review], :remote=>true) do |f| %>
							            <div class="field">
							              <div id="star-rating"></div>
							            </div>
							            <div class="field">
							              <%= f.label :comment %><br>
							              <%= f.cktext_area :comment, :required => true %>
							            </div>
							            <div class="field">
							              <%=  f.hidden_field :movie_id, :value => @movie.id %>
							            </div>
							            <div class="actions">
							              <%= f.submit 'Create Review', :class => "btn btn-primary", :id => "hide" %>
							            </div>
							          <% end %>
							         </p>
      							</div>
    							</div>
							  </div>
							</div>

							
							<a href="#" data-toggle="modal" data-target="#myModal1" id="showmsg"></a>

							<div id="myModal1" class="modal fade" role="dialog"  id="info_box" >
  							<div class="modal-dialog">

    						<!-- Modal content-->
						    	<div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal">&times;</button>
							        <h4 class="modal-title">Information</h4>
							      </div>
							      <div class="modal-body">
	        						<p>
		        						Thank you for submitting the review, it will be displayed once approved by admin.!
							         </p>
      							</div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							      </div>
    							</div>
							  </div>
							</div>


								<%#= link_to 'Write a Review',  '#', :class => "write_rev" %>


						  <section>
						    <div class="row-fluid">

						      <div id="rev_box" style="display: none;">

						        <div class="status alert alert-success" style="display: none"></div>

						        <% @review = Review.new %>

						        	<%= form_for([@review]) do |f| %>
						            

						            <div class="field">
						              <div id="star-rating"></div>
						            </div>
						            <div class="field">
						              <%= f.label :comment %><br>
						              <%= f.cktext_area :comment, :required => true %>
						            </div>
						            <div class="field">
						              <%=  f.hidden_field :movie_id, :value => @movie.id %>
						            </div>
						            <div class="actions">
						              <%= f.submit 'Create Review', :class => "btn btn-primary" %>
						            </div>
						          <% end %>
						          <%#= link_to 'Back', reviews_path %>
						        
						    	</div>

						  	</div>

							</section>

							<script type="text/javascript">
							


								$(function(){
									$.getScript( "https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js", function( data, textStatus, jqxhr ) {
											$('#star-rating').raty({
										    half: true,
										    path: '/assets/',
										    scoreName: 'review[rating]'
										  });
									})
								})

								
							</script>



							<% else %>
								
								<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginModal">Login to Write a Review</button>

								<div id="loginModal" class="modal fade" role="dialog">
  								<div class="modal-dialog">

								    <!-- Modal content-->
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
        								<h4 class="modal-title">Sign In</h4>
      								</div>
      								<div class="modal-body">
        								<p class="pull-left">
						
													<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
														<div class="field">
															<p><%= f.label :login %><br />
															<%= f.text_field :login, :required => true, :placeholder => "Username or Email Id", :class => "fieldwid" %></p>
														</div>

														<div class="field">
															<%= f.label :password %><br />
															<%= f.password_field :password, :required => true, autocomplete: "off", :placeholder => "Password", :class => "fieldwid" %>
														</div>

														<% if devise_mapping.rememberable? -%>
															<div class="field">
																<%= f.check_box :remember_me %>
																<%= f.label :remember_me %>
															</div>
														<% end -%>

														<div class="actions">
															<%= f.submit "Log in", :class => 'btn btn-primary btn-large' %>
														</div>
													<% end %>
								
													<%= render "devise/shared/links" %>
												</p>
      								</div>
  									</div>
									</div>
								</div>

							<% end %>

					<!-- 	<div id="disqus_thread"></div>
							<script>
							    /**
							     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
							     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
							     */
							    /*
							    var disqus_config = function () {
							        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
							        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
							    };
							    */
							    (function() {  // DON'T EDIT BELOW THIS LINE
							        var d = document, s = d.createElement('script');
							        
							        s.src = '//moviereviewviva.disqus.com/embed.js';
							        
							        s.setAttribute('data-timestamp', +new Date());
							        (d.head || d.body).appendChild(s);
							    })();
							</script>
							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> -->


						

					</div>

				<% end %>

			<% end %>

		</div>

		
				<div class="widget widget-popular">
				<div class="widget-blog-items">
					<% @detail_bottom_banner.each do |banner| %>
						<% if banner.ad_type == 'Text' %>
								<div class="widget-blog-item media">					
									<div class="media-body">			
										<!-- <div class=""> -->
											<div class="<%= banner.ad_type%>-<%= banner.id %>" style="width: 100%; background-color: pink; "><%= banner.text.html_safe %>
											</div>
										<!-- </div> -->
									</div>
								</div>
							<% end %>

							<% if banner.ad_type == 'Banner' %>
								<div class="widget-blog-item media">					
									<div class="media-body">			
										<!-- <div class=""> -->
											<div class="<%= banner.ad_type%>-<%= banner.id %>" style="width: 100%; text-align:left;">
												<% if banner.link.present? %>
													<%= link_to( image_tag(banner.banner), banner.link) %>
												<% else %>
													<%= image_tag(banner.banner) %>
												<% end %>
											</div>
										<!-- </div> -->
									</div>
								</div>
							<% end %>

							<% if banner.ad_type == 'Google Ad' %>
								<div class="widget-blog-item media">					
									<div class="media-body">
										<div class="<%= banner.ad_type%>-<%= banner.id %>" style="width: 100%;">
											<%= raw banner.google_add_js %>
										</div>
									</div>
								</div>
							<% end %>
									
					<% end %>
				</div>                        
			</div>


		<script type="text/javascript">
			$(function(){
				$.getScript( "https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js", function( data, textStatus, jqxhr ) {
					<%# if @total_count.to_i > 0 %>	
						$('#stars').raty({ score: <%= @average_user_reviews %>,
			  			readOnly: true,
		    			path: '/assets'
						});
					<%# end %>						
				})
			})					
		</script>

		<script type="text/javascript">
			$(function(){
				$.getScript( "https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js", function( data, textStatus, jqxhr ) {
						$('.av_cr_rating').raty({ score: <%= @movie.rating %>,
				  	readOnly: true,
			    	path: '/assets'
					});
				})
			})
		</script>
		
		<!-- <div id="starrating">
			Rating: <div id="stars">: </div>
		</div>
		<br/> -->
		<!-- End Blog Item -->
		<!-- Ratings -->
		<%#= rating_for @movie, 'rating' %>
	</div>
</div>
<aside class="span4">
	<%= render "layouts/top_rated" %>
	<!-- End Popular Posts -->        

	<%= render "layouts/genres" %>
	<!-- End Category Widget -->

	<%#= render "layouts/movietype" %>
	<%= render "layouts/sidebar_banner" %>

</aside>
</div>

</section>
<!-- <script id="dsq-count-scr" src="//moviereviewviva.disqus.com/count.js" async></script> -->

<style type="text/css">
	p{
		font-size: 17px !important;
	}
	.fieldwid {
		width: 300px !important;
	}
	#review_comment{
	 width: 95%;
    height: 130px;
}

.modal {
    margin-left: -243px !important;
    width: 400px !important;   
	}

	.bigimg img {
    height: 300px !important;
    width: 100% ;
}
</style>


<script>

   $.extend({
      getUrlVars: function(){
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
          hash = hashes[i].split('=');
          vars.push(hash[0]);
          vars[hash[0]] = hash[1];
        }
        return vars;
      },
      getUrlVar: function(name){
        return $.getUrlVars()[name];
      }
    });


	$(document).ready(function() {

 var byName = $.getUrlVar('movie');
if (byName=='review') {

	
 $('html, body').animate({
        scrollTop: $(document).height()
    }, 'slow');
}
else{

}

		// movie
	
    $(".write_rev").click(function(e) {
    	e.preventDefault();
        $("#rev_box").slideToggle();
    });


   

    // $("#hide").click(function(){
    //     $(".review_box").hide();
    //     $(".info_box").show();
    // });

 // $('#myModal1').modal('show');
// $('#showmsg').on( "click", function() {
//   $(this).click();
// });
	});
</script>

<script type="text/javascript">


</script>