<body>
  <!-- <section class="title">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
           <h1>Log In</h1>
        </div>
        <div class="span6">
          <ul class="breadcrumb pull-right">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Log In</li>
          </ul>
        </div>
      </div>
    </div>
  </section> -->
    <!-- / .title -->         
  <section id="about-us" class="container main">
    <div class="row-fluid">
      <div class="span8">
        <div class="blog">
          <div class="blog-item well">
            <div class="blog-meta clearfix">
              <p class="pull-left">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="field">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true %>
                    </div>

                    <div class="field">
                      <%= f.label :password %><br />
                      <%= f.password_field :password, autocomplete: "off" %>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end -%>

                    <div class="actions">
                      <%= f.submit "Log in" %>
                    </div>
                  <% end %>

                  <%= render "devise/shared/links" %>
              </p>

              <!-- <br/><br/><br/><br/> -->
                          
            </div>              
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>


