<!DOCTYPE html>
<html>
<head>
	<% if controller.controller_name == "home" && controller.action_name == "movie_detail" %>
	
		<title><%= @movie.title %></title>
		<meta name="keywords" content="Movie Reviews, Vivacity Infotech, <%= @movie.star_cast %> <% if @movie.movie_type %>, <%= @movie.movie_type.title %> <% end %> <% if @movie.genres %> , <% @movie.genres.each do |genre| %> <%= genre.title %> <% end %> <% end %>"/>
		<meta name="description" content="<%= description(@movie.description) %>"/>
	<% else %>
		<title>MovieReview</title>
	<% end %>
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.min.js">

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	
	<%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
$(document).ready(function(){
	// alert("hiii");
    $('.navbar .dropdown').hover(function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
    }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
    });
})
</script>
	

	<% if devise_controller? && resource_name == :admin && action_name == 'new' %>
		<!-- <div class="container"> -->
			<% flash.each do |key, value| %>
				<div class="msgs alert alert-<%= key %>"><%= value %></div>
			<% end %>
		<!-- </div> -->
		<%= yield %>
	<% else %>
		
		<%= render 'layouts/header' %>

		<!-- <div class="container"> -->
			<% flash.each do |key, value| %>
				<div class="msgs alert alert-<%= key %>"><%= value %></div>
			<% end %>
		<!-- </div> -->

			<%= yield %>
			<%= render 'layouts/footer' %>
			<%#= debug(params) if Rails.env.development? %>


		<%#= yield %>
		<%#= render 'layouts/footer' %>
	<% end %>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f8547fe69c143c2"></script>
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<div class="addthis_sharing_toolbox"></div>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=153808367970167";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

</body>

</html>

